@import "tailwindcss";

/*--- slider --- */
.carousel {
    @apply flex items-center w-svw h-svh overflow-hidden relative
}

.carousel .list .item {
    @apply absolute inset-0 bg-black
}

.carousel .list .item:nth-child(1) {
    @apply z-10
}

.carousel .list .item img {
    @apply w-full h-full object-cover
}
.carousel .list .item .content .item .item__cover{
    @apply absolute top-1 w-full h-full bg-amber-300
}
.carousel .list .item .content {
    @apply absolute flex flex-col gap-2.5 top-26 w-[1126px] max-w-[80%] left-1/2 -translate-x-1/2 text-shadow-md text-shadow-black/80 text-pretty
}

/* .carousel .list .item .content p, */
.carousel.next .list .item .content p {
    /* @apply translate-y-18 blur-xl opacity-0; */
    transform: translateY(20px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .6s linear 1 forwards;
}

@keyframes showContent {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.carousel .list .item .content p:nth-child(1) {
    @apply text-5xl font-bold tracking-wider;
    mix-blend-mode: difference;
    animation-delay: .8s;
}

.carousel .list .item .content p:nth-child(2) {
    animation-delay: 1s;
}

.content_genre {
    @apply text-cyan-600 bg-black/80 w-fit p-1 px-2 rounded-2xl outline-2 outline-cyan-700
}

@media (width < 500) {}

/* -- thumbnail -- */
.thumbnail {
    @apply flex absolute left-[25%] md:left-[34%] gap-5 bottom-10 text-stone-100 z-30;
    width: max-content;
}

.thumbnail .thumbnail__item {
    @apply w-40 h-60 relative rounded  overflow-hidden hover:outline-3 outline-stone-100  hover:shadow-2xl hover:shadow-black hover:bg-black/80 transition-all duration-200;
    flex-shrink: 0;
}

.thumbnail .thumbnail__item img {
    @apply w-full h-full object-cover rounded hover:scale-110 transition-all duration-200
}

.thumbnail .thumbnail__item .thumbnail__content {
    @apply absolute w-full h-10 bottom-1 text-center text-transparent text-shadow-lg text-shadow-black
}

.thumbnail .thumbnail__item:hover .thumbnail__content {
    color: oklch(97% 0.001 106.424);
    /* text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); */
    transition: all .5s ease-in-out;
}

@media (width < 500px) {
    .thumbnail {
        left: 35%;
        bottom: 30px;
    }
}

/* -- Arrows -- */
.arrows {
    @apply flex justify-center items-center w-24 max-w-[30%] gap-3.5
}

.arrows button {
    @apply flex items-center justify-center shadow-lg shadow-black size-10 rounded-full bg-white/30 border-none hover:bg-white transition-all duration-150
}


/* -- Next carousel -- */
.carousel.next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    margin-top: 54px;
    position: absolute;
    left: 60%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 0.8s linear 1 forwards;
    transition: all .5s ease;
}

@keyframes showImage {
    to {
        margin-top: 54px;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .thumbnail__item:nth-last-child(1) {
    width: 0;
    overflow: hidden;
    animation: showThumbnail 0.8s linear 1 forwards;
}



.carousel.next .thumbnail {
    transform: translateX(150px);
    animation: transformThumbnail .5s linear 1 forwards;
}

@keyframes transformThumbnail {
    to {
        transform: translateX(0);
    }
}

/* -- prev carousel -- */
.carousel.prev .list .item:nth-child(2) {
    @apply z-20
}

.carousel.prev .list .item:nth-child(2) img {
    position: absolute;
    left: 0;
    bottom: 0;
    animation: outImage 1.5s linear 1 forwards
}

@keyframes outImage {
    to {
        width: 150px;
        height: 240px;
        left: 59%;
        bottom: 55px;
        border-radius: 5px;
        opacity: 0;
    }
}


@keyframes showThumbnail {
    to {
        width: 160px;
    }
}

.carousel.prev .list .item:nth-child(2) .content {
    animation: contentOut 2s .5s linear 1 forwards;
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px) opacity(0)
    }
}

/* -- time -- */
.time {
    width: 0%;
    height: 3px;
    background: #23dbdb;
    background: linear-gradient(95deg, rgba(35, 219, 219, 1) 23%, rgba(35, 153, 84, 1) 100%);
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.carousel.next .time,
.carousel.prev .time {
    width: 100%;
    animation: timeRunning 1s linear 1 forwards;
}

@keyframes timeRunning {
    to {
        width: 0;
    }
}

/* -- Cards -- */
.dailyCards {
    @apply flex gap-18 mt-16 m-12;
}

.dailyCards__figure {
    @apply z-10 w-40 rounded-lg overflow-hidden shadow-md hover:scale-110 transition-all duration-200
}

.dailyCards__figure::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 95%;
    inset: 0;
    background: inherit;
    filter: blur(40px) saturate(1.5);
    z-index: -2;
}

.dailyCards__number {
    @apply absolute text-shadow-sm -top-18 -left-12.5 -z-10 text-9xl text-stone-100/50 transition-all duration-200
}

.dailyCards__number.gold {
    @apply text-yellow-300 text-shadow-yellow-400/80
}

.dailyCards__number.silver {
    @apply text-blue-100 text-shadow-blue-500
}

.dailyCards__number.bronce {
    @apply text-orange-300 text-shadow-orange-500
}

.dailyCards__item:hover .dailyCards__number {
    @apply z-50 translate-x-10 scale-110 transition-all duration-200;
}

/* -- grid -- */
.moviesGrid__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 4%;
}