---
import { DailyCards } from '../components/Daily/DailyCards'

---
<section class="daily bg-transparent p-4">
    <h2 class="daily__title font-semibold italic text-stone-100 text-4xl">Daily top movies</h2>
    <DailyCards client:visible />
</section>