---
import Arrow from "../../../public/icons/Arrow.astro";


---
<section class="arrows">
    <button class="arrows__prev group"> <Arrow style="group-hover:text-black/80 " /> </button>
    <button class="arrows__next group"> <Arrow style="group-hover:text-black/80 rotate-180" /> </button>
</section>
